body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}

#nome, #preco {
    height: 30px;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

.add-btn {
    padding-right: 15px;
    padding-left: 15px;
    height: 36px;
    background-color: green;
    color: white;
    border: 0;
    border-radius: 3px;
}

.upd-btn, .del-btn {
    margin: 5px;
    height: 25px;
    color: white;
    border: 0;
    border-radius: 1px;
   
}

.upd-btn {
    background-color: skyblue;
    margin-left: 18rem;
}

.del-btn {
    background-color: red;
}